/* font-family: 'Roboto Mono', monospace; */
/* font-family: 'Staatliches', cursive; */
/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Source Code Pro', monospace; */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #FFFFFF;
  margin-bottom: 65px;
  font-family: 'Varela Round', sans-serif;
}

.row-nav {
  margin: 20px 0px 10px 0px;
  font-size: 20px;
}

.row-one {
  margin: 10px 0px 20px 0px;
  font-size: 50px;
  color: #000000;
}

.row-two {
  margin: 0px 0px 30px 0px;
  background: #D5F5E3;
  border-radius: 25px;
}

.row-four {
  margin: 0px 0px 30px 0px;
  background: #D5F5E3;
  border-radius: 25px;
}

.jumbotron {
  background: #FFFFFF;
}

.lead {
  font-size: 30px;
  color: #34C859;
}

h5 {
  font-size: 40px;
  color: #000000;
}

h6 {
  font-size: 30px;
  color: #34C859;
}

.img-thumbnail {
  background: #FFFFFF;
}

.card {
  background: #D5F5E3;
}

.card-custom {
  background: #FFFFFF;
}

.card-text {
  /* background: #34C859; */
  color: #34C859;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
}

.fa {
  padding: 20px;
  font-size: 24px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  line-height: 55px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-size: 14px;
  border-top: 5px solid #FFFFFF;
  margin: 20px 0px 0px 0px;
}
