/* font-family: 'Roboto Mono', monospace; */
/* font-family: 'Staatliches', cursive; */
/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Source Code Pro', monospace; */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #010A13;
  margin-bottom: 65px;
  font-family: 'Roboto Mono', monospace;
}

.row-nav {
  margin: 20px 0px 10px 0px;
  font-size: 20px;
}

.row-one {
  margin: 10px 0px 5px 0px;
  font-size: 50px;
  color: #FDFEFE;
}

.jumbotron {
  background: #010A13;
}

.lead {
  font-size: 20px;
}

.img-thumbnail {
  background: #010A13;
}

.card-body {
  background: #010A13;
  color: #FDFEFE;
}

.fa {
  padding: 20px;
  font-size: 24px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  line-height: 55px;
  width: 100%;
  background-color: #010A13;
  color: #FDFEFE;
  text-align: center;
  font-size: 14px;
  border-top: 5px solid #010A13;
  margin: 20px 0px 0px 0px;
}
